<%- include ("../partials/header")%>

<div class="all-content">
  <div class="container">
    <%- include ("../partials/flash")%>
    <div class="row">
      <section id="top-graph" class="col-lg-8 col-md-12 col-12">
        <div class="rando">
          <div class="graph-container">
            <canvas id="myChart"></canvas>
          </div>

          <script>
             let weightArray=[]
              let dateArray=[]

              let shod = <%-JSON.stringify(foundUser.weights)%>;
               for (let item of shod) {
                weightArray.push(item.weight)
                dateArray.push(item.userDate)
                 //console.log(item)
               }


            ////////
            let myChart = document.getElementById('myChart').getContext('2d');
            let chart = new Chart(myChart, {
                // The type of chart we want to create
                type: 'line',

                // The data for our dataset
                data: {
                    labels: dateArray,
                    datasets: [{
                        label: 'Weight Data',
                        backgroundColor: 'rgba(0, 0, 0, 0.1)',
                        borderColor: 'rgb(255, 99, 132)',
                        data: weightArray,
                        borderWidth:3,

                        hoverBorderColor:'#000'
                    }]
                },

                  // Configuration options go here
                                        options: {
                                          title: {
                              display: true,
                              text: "Weight Plot vs Time",
                              fontSize: 15,
                            },legend: {
                      display: true,
                      position: "right",
                      labels: {
                        fontColor: "#000",
                      },
                    },layout: {
              padding: {
                left: 30,
                right: 0,
                bottom: 30,
                top: 0,
              },
            },
                                        }


            });
          </script>
        </div>
      </section>

      <section id="bmi-section" class="col-lg-4 col-md-12 col-12">
        <div class="rando">
          <div class="bmi-container">
            <h3>BMI Calculator</h3>

            <form id="bmi-form">
              <div class="form-group">
                <label for="height">Height (in centimeters)</label>
                <input
                  type="Number"
                  class="form-control"
                  id="height"
                  name="height"
                  aria-describedby="emailHelp"
                  required
                  placeholder="height"
                />
              </div>
              <div class="form-group">
                <label for="weight">Weight (in kilograms)</label>
                <input
                  type="Number"
                  class="form-control"
                  name="weight"
                  id="weight"
                  placeholder="weight"
                  required
                />
              </div>

              <button
                id="bmi-submit"
                type="submit"
                class="btn btn-primary"
                style="margin-bottom: 2%;"
              >
                Calculate
              </button>
            </form>

            <div
              class="alert error-alert alert-danger"
              style="visibility: hidden;"
              role="alert"
            ></div>
          </div>

          <script>
            let formHeight = document.getElementById("height");
            let formWeight = document.getElementById("weight");
            let bmiResultText = document.getElementById("bmi-result-text");
            let bmiSubmit = document.getElementById("bmi-submit");
            let errorAlert = document.querySelector(".error-alert");

            function showAndFade(myTime) {
              errorAlert.style.visibility = "visible";
              setTimeout(function () {
                errorAlert.style.visibility = "hidden";
              }, myTime);
              return;
            }

            bmiSubmit.addEventListener("click", (e) => {
              e.preventDefault();
              //validation
              if (!formHeight.value || !formWeight.value) {
                errorAlert.innerHTML = `Error: Empty input field(s)`;
                showAndFade(2000);
                return;
              }
              if (formHeight.value < 0 || formWeight.value < 0) {
                errorAlert.innerHTML = `Error: Input cannot be negative`;
                showAndFade(2000);
                return;
              }

              let bmiTemp =
                (10000 * formWeight.value) /
                (formHeight.value * formHeight.value);
              let bmi = bmiTemp.toFixed(1);

              if (bmiTemp < 18.5) {
                errorAlert.innerHTML = `BMI is ${bmi}. Underweight`;
                showAndFade(5000);
                return;
              } else if (bmiTemp < 24.9) {
                errorAlert.innerHTML = `BMI is ${bmi}. Normal`;
                showAndFade(5000);
                return;
              } else if (bmiTemp < 29.9) {
                errorAlert.innerHTML = `BMI is ${bmi}. Overweight`;
                showAndFade(5000);
                return;
              } else {
                errorAlert.innerHTML = `BMI is ${bmi}. Obese`;
                showAndFade(5000);
                return;
              }
            });
          </script>
        </div>
      </section>
    </div>
  </div>
  <section id="create-record">
    <div class="container">
      <div class="create-record-container">
        <form method="GET" action="/user/dashboard/new">
          <button type="submit" class="btn btn-info">
            Add New Record
          </button>
        </form>
      </div>
    </div>
  </section>

  <section id="weight-cards">
    <div class="container">
      <div class="card-columns">
        <%foundUser.weights.forEach(mass => { %>
        <li style="list-style-type: none;">
          <div
            class="card weight-card text-white mb-3"
            style="max-width: 18rem;"
          >
            <div class="card-body">
              <h4 class="card-title"><%=mass.weight%> kg</h4>
              <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
              <p>Date: <%=mass.userDate%></p>
              <p>Time: <%=mass.time%></p>
              <p>BMI: <%=mass.bmi%></p>

              <div class="row justify-content-center edit-and-delete">
                <div class="col-12">
                  <form
                    action="/user/dashboard/<%=mass._id%>/edit"
                    method="GET"
                  >
                    <button type="submit" class="btn btn-warning">
                      Edit
                    </button>
                  </form>
                </div>
                <div class="col-12">
                  <form
                    action="/user/dashboard/<%=mass._id%>?_method=DELETE"
                    method="POST"
                  >
                    <button type="submit" class="btn btn-danger">
                      Delete
                    </button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </li>

        <%})%>
      </div>
    </div>
  </section>
</div>
<%- include ("../partials/footer")%>
