<%- include ("../partials/header")%>

<div class="all-content">
  <div class="container">
    <%- include ("../partials/flash")%>
    <div class="row">
      <section id="top-graph" class="col-lg-8 col-md-12 col-12">
        <div class="rando">
          <div class="graph-container">
            <canvas id="myChart"></canvas>
          </div>

          <script>
                         let weightArray=[]
                          let dateArray=[]

                          let shod = <%-JSON.stringify(foundUser.weights)%>;
                           for (let item of shod) {
                            weightArray.push(item.weight)
                            dateArray.push(item.userDate)
                             //console.log(item)
                           }
                           //global options
                             Chart.defaults.global.defaultFontFamily = 'Courier';
                        let myChart = document.getElementById('myChart').getContext('2d');
                        let chart = new Chart(myChart, {
              // The type of chart we want to create
              type: "line",

              // The data for our dataset
              data: {
                labels: dateArray,
                datasets: [
                  {
                    label: "Weight",
                    backgroundColor: "rgba(91, 192, 222, 0.5)",
                    borderColor: "#00f5a3",
                    data: weightArray,
                    borderWidth: 3,

                    hoverBorderColor: "#000",
                  },
                ],
              },

              // Configuration options go here
              options: {
                responsive:true,
                 maintainAspectRatio: false,
                 scales: {
                  xAxes: [ {
                    // type: 'time',
                    display: true,
                    scaleLabel: {
                      display: true,
                      labelString: 'Date (YYYY-MM-DD)'
                    },
                    ticks: {

                        fontStyle: 'bold',
                        fontColor: '#FF0000',
                        fontFamily:'Courier',
                        autoSkip: false,
                        maxRotation: 0,
                        minRotation: 0

                    }
                  } ],
                  yAxes: [ {
                    display: true,
                    scaleLabel: {
                      display: true,
                      labelString: 'Weight (kg)'
                    },ticks: {

                        fontStyle: 'bold',
                        fontColor: '#FF0000',
                        fontFamily:'Courier'

                    }
                  } ]
                },
                title: {
                  display: true,
                  text: "Plot of Weights over Time",
                  fontSize: 15,
                },
                layout: {
                  padding: {
                    left: 10,
                    right: 5,
                    bottom: 20,
                    top: 0,
                  },
                },
              },
            });
          </script>
        </div>
      </section>

      <section id="bmi-section" class="col-lg-4 col-md-12 col-12">
        <div class="rando">
          <div class="bmi-container">
            <h6>BMI Calculator</h6>
            <!--  -->
            <!-- radio button -->
            <div
              class="btn-group btn-group-toggle"
              style="margin-bottom: 3%;"
              data-toggle="buttons"
            >
              <label
                class="btn btn-secondary active"
                style="font-size: 0.7rem;"
              >
                <input
                  type="radio"
                  name="options"
                  id="metric"
                  autocomplete="off"
                  value="1"
                  checked
                />
                Metric
              </label>
              <label class="btn btn-secondary" style="font-size: 0.7rem;">
                <input
                  type="radio"
                  name="options"
                  id="imperial"
                  autocomplete="off"
                  value="2"
                />
                Imperial
              </label>
            </div>

            <!-- ///////////// -->
            <!-- selective forms -->
            <!-- ///////////// -->

            <form id="bmi-form">
              <div class="form-group form-metric">
                <input
                  type="Number"
                  class="form-control"
                  name="metric-weight"
                  id="metric-weight"
                  placeholder="Enter weight (kg)"
                  style="font-size: 0.7rem;"
                  required
                />
              </div>
              <div class="form-group form-metric">
                <input
                  type="Number"
                  class="form-control"
                  id="metric-height"
                  name="metric-height"
                  aria-describedby="emailHelp"
                  placeholder="Enter height (m)"
                  style="font-size: 0.7rem;"
                  required
                />
              </div>

              <!-- another form -->
              <div class="form-group form-imperial">
                <input
                  type="Number"
                  class="form-control"
                  name="imperial-weight"
                  id="imperial-weight"
                  placeholder="Enter weight (lbs)"
                  style="font-size: 0.7rem;"
                  required
                />
              </div>
              <div class="form-group form-imperial">
                <input
                  type="Number"
                  class="form-control"
                  id="imperial-height"
                  name="imperial-height"
                  aria-describedby="emailHelp"
                  required
                  placeholder="Enter height (feet)"
                  style="font-size: 0.7rem;"
                />
              </div>

              <button
                id="bmi-submit"
                type="submit"
                class="btn btn-info"
                style="margin-bottom: 2%; font-size: 0.8rem;"
              >
                Calculate
              </button>
            </form>

            <div
              class="alert error-alert alert-danger"
              style="visibility: hidden; font-size:0.8rem"
              role="alert"
            ></div>
          </div>

          <script>
            let metricHeight = document.getElementById("metric-height");
            let metricWeight = document.getElementById("metric-weight");
            let imperialHeight = document.getElementById("imperial-height");
            let imperialWeight = document.getElementById("imperial-weight");
            let bmiResultText = document.getElementById("bmi-result-text");
            let bmiSubmit = document.getElementById("bmi-submit");
            let errorAlert = document.querySelector(".error-alert");
            let imperial = document.querySelector("#imperial");
            let metric = document.querySelector("#metric");
            let formImperial = document.querySelectorAll(".form-imperial");
            let formMetric = document.querySelectorAll(".form-metric");

            function showAndFade(myTime) {
              errorAlert.style.visibility = "visible";
              setTimeout(function () {
                errorAlert.style.visibility = "hidden";
              }, myTime);
              return;
            }

            imperial.addEventListener("click", (e) => {
              e.preventDefault();
              // imperial radio check= true
              imperial.checked = true;
              metric.checked = false;

              //selectively display form
              $(".form-imperial").show();
              $(".form-metric").hide();
            });
            metric.addEventListener("click", (e) => {
              e.preventDefault();
              // metric radio check= true
              imperial.checked = false;
              metric.checked = true;
              //selectively display form
              $(".form-imperial").hide();
              $(".form-metric").show();
            });

            bmiSubmit.addEventListener("click", (e) => {
              e.preventDefault();
              //metric validation
              if (metric.checked) {
                if (!metricHeight.value || !metricWeight.value) {
                  errorAlert.innerHTML = `Error: Empty input field(s)`;
                  showAndFade(2000);
                  return;
                }
                if (metricHeight.value < 0 || metricWeight.value < 0) {
                  errorAlert.innerHTML = `Error: Input cannot be negative`;
                  showAndFade(2000);
                  return;
                }
                //calculation
                let bmiTemp =
                  metricWeight.value /
                  (metricHeight.value * metricHeight.value);
                let bmi = bmiTemp.toFixed(1);

                if (bmiTemp < 18.5) {
                  errorAlert.innerHTML = `BMI is ${bmi}. Underweight`;
                  showAndFade(5000);
                  return;
                } else if (bmiTemp < 24.9) {
                  errorAlert.innerHTML = `BMI is ${bmi}. Normal`;
                  showAndFade(5000);
                  return;
                } else if (bmiTemp < 29.9) {
                  errorAlert.innerHTML = `BMI is ${bmi}. Overweight`;
                  showAndFade(5000);
                  return;
                } else {
                  errorAlert.innerHTML = `BMI is ${bmi}. Obese`;
                  showAndFade(5000);
                  return;
                }
              } //imperial validation
              if (imperial.checked) {
                if (!imperialHeight.value || !imperialWeight.value) {
                  errorAlert.innerHTML = `Error: Empty input field(s)`;
                  showAndFade(2000);
                  return;
                }
                if (imperialHeight.value < 0 || imperialWeight.value < 0) {
                  errorAlert.innerHTML = `Error: Input cannot be negative`;
                  showAndFade(2000);
                  return;
                }
                let bmiTemp =
                  (703 * imperialWeight.value) /
                  (144 * imperialHeight.value * imperialHeight.value);
                let bmi = bmiTemp.toFixed(1);

                if (bmiTemp < 18.5) {
                  errorAlert.innerHTML = `BMI is ${bmi}. Underweight`;
                  showAndFade(5000);
                  return;
                } else if (bmiTemp < 24.9) {
                  errorAlert.innerHTML = `BMI is ${bmi}. Normal`;
                  showAndFade(5000);
                  return;
                } else if (bmiTemp < 29.9) {
                  errorAlert.innerHTML = `BMI is ${bmi}. Overweight`;
                  showAndFade(5000);
                  return;
                } else {
                  errorAlert.innerHTML = `BMI is ${bmi}. Obese`;
                  showAndFade(5000);
                  return;
                }
              }
            });
          </script>
        </div>
      </section>
    </div>
  </div>
  <section id="create-record">
    <div class="container">
      <div class="create-record-container">
        <form method="GET" action="/user/dashboard/new">
          <button type="submit" class="btn btn-info">
            Add New Record
          </button>
        </form>
      </div>
    </div>
  </section>

  <section id="weight-cards">
    <div class="container">
      <div class="card-columns mobile-card-column">
        <%foundUserReverse.weights.forEach(mass => { %>
        <li style="list-style-type: none;">
          <div class="card weight-card text-white mb-3">
            <div class="card-body">
              <h4 class="card-title"><%=mass.weight%> kg</h4>
              <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
              <p class="my-card-data">Date: <%=mass.userDate%></p>
              <p class="my-card-data">Time: <%=mass.time%></p>
              <p class="my-card-data">BMI: <%=mass.bmi%></p>

              <div class="row justify-content-center edit-and-delete">
                <div class="col-12">
                  <form
                    action="/user/dashboard/<%=mass._id%>/edit"
                    method="GET"
                  >
                    <button type="submit" class="btn btn-warning">
                      Edit
                    </button>
                  </form>
                </div>
                <div class="col-12">
                  <form
                    action="/user/dashboard/<%=mass._id%>?_method=DELETE"
                    method="POST"
                  >
                    <button type="submit" class="btn btn-danger">
                      Delete
                    </button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </li>

        <%})%>
      </div>
    </div>
  </section>
</div>
<%- include ("../partials/footer")%>
